.contact-container {
  text-shadow: 0px 0px 2px #00000056;
  box-sizing: border-box; }

@media screen and (min-width: 300px) and (max-width: 480px) {
  .contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 100%; }
    .contact-container .contact-info {
      width: 100%; }
      .contact-container .contact-info .contact-info-inner {
        padding: 20px 20px 25px;
        margin: 10px 0;
        background: #3d96b9c8;
        color: #fff; }
        .contact-container .contact-info .contact-info-inner h2 {
          font-size: 2em;
          margin: 15px 0; }
        .contact-container .contact-info .contact-info-inner p {
          margin: 30px 0;
          font-size: 1.2em;
          font-weight: 600; }
        .contact-container .contact-info .contact-info-inner .phone-numbers-container h4 {
          margin: 10px 0;
          font-size: 1.2em; }
        .contact-container .contact-info .contact-info-inner .email-container {
          margin-top: -20px; }
          .contact-container .contact-info .contact-info-inner .email-container p {
            display: inline-block;
            font-size: 1.2em; }
          .contact-container .contact-info .contact-info-inner .email-container a {
            font-size: 1.2em;
            color: #fff; }
    .contact-container form {
      background: #3d96b9c8;
      width: 100%;
      margin: 0 auto;
      color: #fff; }
      .contact-container form .personal-info-form, .contact-container form .service-time-form, .contact-container form .service-destiny-form {
        display: grid;
        grid-template-columns: 48% 48%;
        gap: 5px; }
        .contact-container form .personal-info-form label, .contact-container form .service-time-form label, .contact-container form .service-destiny-form label {
          display: flex;
          justify-content: center;
          flex-direction: column;
          width: 95%; }
          .contact-container form .personal-info-form label input, .contact-container form .service-time-form label input, .contact-container form .service-destiny-form label input {
            width: 100%; }
      .contact-container form .select-form select {
        width: 98%; }
      .contact-container form label {
        margin: 5px 0; }
        .contact-container form label textarea {
          width: 98%; } }
@media screen and (min-width: 480px) and (max-width: 1024px) {
  .contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 100%; }
    .contact-container .contact-info {
      width: 100%; }
      .contact-container .contact-info .contact-info-inner {
        padding: 20px 20px 25px;
        margin: 10px 0;
        background: #3d96b9c8;
        color: #fff; }
        .contact-container .contact-info .contact-info-inner h2 {
          font-size: 1.9em;
          margin: 15px 0; }
        .contact-container .contact-info .contact-info-inner p {
          margin: 30px 0;
          font-size: 1.2em;
          font-weight: 600; }
        .contact-container .contact-info .contact-info-inner .phone-numbers-container h4 {
          margin: 15px 0; }
        .contact-container .contact-info .contact-info-inner .email-container p {
          display: inline-block;
          margin: 5px 0 15px;
          font-size: 1em; }
        .contact-container .contact-info .contact-info-inner .email-container a {
          color: #fff; } }
@media screen and (min-width: 1024px) and (max-width: 1600px) {
  .contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 100%; }
    .contact-container .contact-info {
      background: #3d96b9c8;
      width: 100%;
      padding: 30px 0; }
      .contact-container .contact-info .contact-info-inner {
        display: flex;
        gap: 80px;
        margin: 10px auto;
        color: #fff;
        width: 80%; }
        .contact-container .contact-info .contact-info-inner h2 {
          width: 100%;
          font-size: 1.9em;
          margin: 15px 0; }
        .contact-container .contact-info .contact-info-inner p {
          margin: 30px 0;
          font-size: 1.2em;
          font-weight: 600; }
        .contact-container .contact-info .contact-info-inner .phone-numbers-container {
          margin-top: 65px; }
          .contact-container .contact-info .contact-info-inner .phone-numbers-container h4 {
            margin: 17px 0; }
        .contact-container .contact-info .contact-info-inner .email-container p {
          display: inline-block;
          margin: 5px 0 15px;
          font-size: 1em; }
        .contact-container .contact-info .contact-info-inner .email-container a {
          color: #fff; } }

/*# sourceMappingURL=contact.css.map */
