@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Righteous&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@400;600&family=Montserrat&family=Poppins&family=Raleway&family=Righteous&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif; }

#opener {
  display: none; }

html {
  scroll-behavior: smooth; }

.chop-section {
  border-top-color: #000; }

.logo li {
  cursor: pointer; }
  .logo li h1 {
    font-family: 'Poppins', sans-serif;
    color: #494949;
    letter-spacing: 1px;
    font-size: 2.1em; }

@media screen and (max-width: 576px) {
  .section-nav {
    display: none;
    position: absolute;
    left: -100%;
    overflow: hidden; }

  nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    background: #f3f4f6; }
    nav ul li {
      margin: 25px;
      text-align: end; }
      nav ul li a {
        color: black;
        text-decoration: none; }
      nav ul li h3 {
        font-family: 'Raleway', sans-serif;
        cursor: pointer; }
    nav ul .logo {
      text-align: start; }
      nav ul .logo img {
        height: 65px;
        margin-top: 5px; }
      nav ul .logo h1 {
        display: none; }
    nav ul .menu-btn label img {
      margin-right: 10px;
      height: 55px; }
    nav ul #opener:checked ~ .section-nav {
      position: absolute;
      left: 0;
      top: 0px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      background-color: #f1f1f1;
      z-index: 150; }
    nav ul .section-nav-inner {
      background-color: #d8d8d8;
      width: 60%; }
    nav ul .close-menu label {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin: 5px 10px; }
      nav ul .close-menu label img {
        height: 60px; } }
@media screen and (min-width: 577px) and (max-width: 1023px) {
  .section-nav {
    display: none;
    position: absolute;
    left: -100%;
    overflow: hidden; }

  nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background: #f3f4f6; }
    nav ul li {
      margin: 25px;
      text-align: end; }
      nav ul li a {
        color: black;
        text-decoration: none; }
      nav ul li h3 {
        font-family: 'Raleway', sans-serif;
        cursor: pointer; }
    nav ul .logo li {
      margin: 0; }
      nav ul .logo li h1 {
        display: none; }
      nav ul .logo li img {
        height: 80px;
        margin-left: 20px;
        margin-top: 5px; }
    nav ul .menu-btn label img {
      height: 65px;
      margin-right: 10px; }
    nav ul #opener:checked ~ .section-nav {
      position: absolute;
      left: 0;
      top: 0px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      background-color: #f1f1f1;
      z-index: 150;
      transition: all ease .3s; }
    nav ul .section-nav-inner {
      background-color: #d8d8d8;
      width: 60%; }
    nav ul .close-menu label {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin: 5px 10px; }
      nav ul .close-menu label img {
        height: 60px; } }
@media screen and (min-width: 1024px) {
  nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background: #f3f4f6;
    z-index: 50;
    gap: 20px; }
    nav ul li {
      text-align: center;
      padding: 5px 20px; }
      nav ul li a {
        color: #282828;
        text-decoration: none; }
      nav ul li h3 {
        font-family: 'Raleway', sans-serif;
        cursor: pointer; }
    nav ul .nav-option {
      transition: all ease 0.3s; }
    nav ul .nav-option:hover {
      background: #db2955;
      color: #fff;
      border-radius: 10px;
      padding: 5px 10px;
      box-sizing: border-box; }
    nav ul .logo li {
      display: flex;
      align-items: center; }
      nav ul .logo li h1 {
        font-size: 20px;
        color: #282828; }
      nav ul .logo li img {
        height: 70px;
        margin-left: 20px;
        margin-top: 5px; }
    nav ul .menu-btn label img {
      display: none; }
    nav ul .section-nav-inner {
      display: flex; }
    nav ul .close-menu {
      display: none; } }

/*# sourceMappingURL=navabar.css.map */
