hr {
  margin: 10px 30px;
  border: 0;
  border-top: 1px solid  #fff;
  height: 1px; }

.tns-controls {
  display: flex;
  gap: 10px;
  justify-content: center; }
  .tns-controls button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    background-color: #468189;
    transition: all ease 0.3s; }
  .tns-controls button:hover {
    background-color: #1f556bc8; }

@media screen and (min-width: 300px) and (max-width: 480px) {
  .services-container {
    width: 100%;
    padding: 60px 0; }
    .services-container h2 {
      margin: 0 10px 50px;
      color: #000000;
      text-align: center;
      font-size: 1.9em; }
    .services-container .services-slider {
      display: flex;
      justify-content: center; }
      .services-container .services-slider .service {
        box-sizing: border-box;
        box-shadow: 0px 0px 10px #0000007c;
        border-radius: 10px;
        height: 320px;
        margin: 10px;
        background: #77ACA2;
        color: #fff;
        text-shadow: 0px 0px 2px #00000056; }
        .services-container .services-slider .service .service-text {
          width: 80%;
          margin: 0 auto; }
          .services-container .services-slider .service .service-text h3 {
            text-align: center;
            font-size: 1.3em;
            margin: 15px 0px; }
          .services-container .services-slider .service .service-text h4 {
            font-size: 1em; }
        .services-container .services-slider .service .service-img {
          display: flex;
          justify-content: center;
          padding: 10px; }
          .services-container .services-slider .service .service-img img {
            height: 135px;
            width: 100%;
            object-fit: cover;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px; } }
@media screen and (min-width: 480px) and (max-width: 1024px) {
  .services-container {
    width: 100%;
    padding: 80px 0; }
    .services-container h2 {
      margin: 0 10px 50px;
      color: #000000;
      text-align: center;
      font-size: 2em; }
    .services-container .services-slider {
      display: flex;
      justify-content: center; }
      .services-container .services-slider .service {
        box-sizing: border-box;
        box-shadow: 0px 0px 10px #0000007c;
        text-shadow: 0px 0px 2px #00000056;
        border-radius: 10px;
        height: 350px;
        margin: 10px;
        background: #468189;
        color: #fff; }
        .services-container .services-slider .service .service-text {
          width: 70%;
          margin: 0 auto; }
          .services-container .services-slider .service .service-text h3 {
            font-size: 1.4em;
            margin: 15px 0px; }
          .services-container .services-slider .service .service-text h4 {
            font-size: 1em; }
        .services-container .services-slider .service .service-img {
          display: flex;
          justify-content: center;
          padding: 10px; }
          .services-container .services-slider .service .service-img img {
            height: 170px;
            width: 100%;
            object-fit: cover;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px; } }
@media screen and (min-width: 1024px) and (max-width: 1600px) {
  .services-container {
    width: 100%;
    padding: 80px 0 40px;
    text-align: center; }
    .services-container h2 {
      text-align: center;
      margin: 0 20px 60px;
      color: #000000;
      font-size: 2.2em; }
    .services-container .services-slider {
      display: flex;
      justify-content: center; }
      .services-container .services-slider .service {
        box-sizing: border-box;
        box-shadow: 0px 0px 10px #0000007c;
        text-shadow: 0px 0px 2px #00000056;
        border-radius: 5px;
        height: 350px;
        margin: 10px;
        background: #77ACA2;
        color: #fff; }
        .services-container .services-slider .service .service-text {
          width: 85%;
          margin: 0 auto; }
          .services-container .services-slider .service .service-text h3 {
            font-size: 1.5em;
            margin: 10px 0px 5px; }
          .services-container .services-slider .service .service-text h4 {
            font-size: 1em; }
        .services-container .services-slider .service .service-img {
          display: flex;
          justify-content: center;
          padding: 10px; }
          .services-container .services-slider .service .service-img img {
            height: 180px;
            width: 100%;
            object-fit: cover;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px; } }

/*# sourceMappingURL=services.css.map */
