hr {
  margin: 10px 30px;
  border: 0;
  border-top: 1px solid  #fff;
  height: 1px; }

.tns-controls {
  display: flex;
  gap: 10px;
  justify-content: center; }
  .tns-controls button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    background-color: #4e9da7;
    transition: all ease 0.3s; }
  .tns-controls button:hover {
    background-color: #1f556bc8; }

@media screen and (min-width: 300px) and (max-width: 480px) {
  .services-container {
    width: 100%;
    padding: 60px 0; }
    .services-container h2 {
      margin: 0 10px 50px;
      color: #000000;
      text-align: center;
      font-size: 1.9em; }
    .services-container .services-slider {
      display: flex;
      justify-content: center; }
      .services-container .services-slider .service {
        box-sizing: border-box;
        box-shadow: 0px 0px 10px #0000007c;
        border-radius: 10px;
        height: 320px;
        margin: 10px;
        background: #77ACA2;
        color: #fff;
        text-shadow: 0px 0px 2px #00000056; }
        .services-container .services-slider .service .service-text {
          width: 80%;
          margin: 0 auto; }
          .services-container .services-slider .service .service-text h3 {
            text-align: center;
            font-size: 1.3em;
            margin: 15px 0px; }
          .services-container .services-slider .service .service-text h4 {
            font-size: 1em; }
        .services-container .services-slider .service .service-img {
          display: flex;
          justify-content: center;
          padding: 10px; }
          .services-container .services-slider .service .service-img img {
            height: 135px;
            width: 100%;
            object-fit: cover;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px; } }
@media screen and (min-width: 480px) and (max-width: 1024px) {
  .services-container {
    width: 100%;
    padding: 80px 0; }
    .services-container h2 {
      margin: 0 10px 50px;
      color: #000000;
      text-align: center;
      font-size: 2em; }
    .services-container .services-slider {
      display: flex;
      justify-content: center; }
      .services-container .services-slider .service {
        box-sizing: border-box;
        box-shadow: 0px 0px 10px #0000007c;
        text-shadow: 0px 0px 2px #00000056;
        border-radius: 10px;
        height: 350px;
        margin: 10px;
        background: #4e9da7;
        color: #fff; }
        .services-container .services-slider .service .service-text {
          width: 70%;
          margin: 0 auto; }
          .services-container .services-slider .service .service-text h3 {
            font-size: 1.4em;
            margin: 15px 0px; }
          .services-container .services-slider .service .service-text h4 {
            font-size: 1em; }
        .services-container .services-slider .service .service-img {
          display: flex;
          justify-content: center;
          padding: 10px; }
          .services-container .services-slider .service .service-img img {
            height: 170px;
            width: 100%;
            object-fit: cover;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px; } }
@media screen and (min-width: 1024px) and (max-width: 1600px) {
  .services-container {
    width: 100%;
    padding: 50px 0 50px;
    text-align: center;
    background: #f3f4f6; }
    .services-container .services-container-inner {
      margin: 0 auto;
      width: 85%; }
      .services-container .services-container-inner button {
        margin-top: 50px;
        padding: 20px 25px;
        background: #3a8e99;
        border: none;
        border-radius: 5px;
        color: #fff;
        font-size: 1.2em;
        font-weight: 800;
        cursor: pointer;
        transition: all ease 0.3s;
        box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.202); }
      .services-container .services-container-inner button:hover {
        box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.264); }
    .services-container h2 {
      text-align: center;
      margin: 0 20px 40px;
      font-size: 2.2em; }
    .services-container .services-slider {
      display: flex;
      justify-content: center; }
      .services-container .services-slider .service {
        box-sizing: border-box;
        box-shadow: 8px 4px 10px -3px rgba(0, 0, 0, 0.1), -8px -4px 10px -4px rgba(0, 0, 0, 0.1);
        text-shadow: 0px 0px 2px #00000056;
        border-radius: 5px;
        min-height: 370px;
        margin: 10px;
        background: #f4f4f4;
        background: #4e9da7;
        color: #fff;
        padding-bottom: 10px; }
        .services-container .services-slider .service .service-text {
          width: 85%;
          margin: 0 auto; }
          .services-container .services-slider .service .service-text h3 {
            font-size: 1.4em;
            margin: 10px 0px 5px;
            border-bottom: 1px solid #fff;
            border-bottom-left-radius: 2px;
            border-bottom-right-radius: 2px;
            padding-bottom: 5px; }
          .services-container .services-slider .service .service-text h4 {
            font-size: 1em;
            margin: 5px 0; }
        .services-container .services-slider .service .service-img {
          display: flex;
          justify-content: center;
          padding: 1px; }
          .services-container .services-slider .service .service-img img {
            height: 210px;
            width: 100%;
            object-fit: cover;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px; } }

/*# sourceMappingURL=services.css.map */
