@media screen and (min-width: 300px) and (max-width: 480px) {
  .slider {
    width: 100%;
    margin: auto;
    overflow: hidden; }
    .slider ul {
      display: flex;
      padding: 0;
      width: 100%; }
      .slider ul li .info-img {
        list-style: none;
        width: 100%;
        position: relative; }
        .slider ul li .info-img .slider-info-container {
          display: flex;
          gap: 15px;
          flex-direction: column;
          position: absolute;
          top: 40px; }
          .slider ul li .info-img .slider-info-container .phrase-container {
            color: #fff; }
            .slider ul li .info-img .slider-info-container .phrase-container h4 {
              display: inline-block;
              padding: 5px 10px;
              background-color: #468189a1;
              padding-bottom: 5px;
              margin: 5px 0 0px 10px;
              font-size: 1.3em; }
            .slider ul li .info-img .slider-info-container .phrase-container h3 {
              display: inline-block;
              margin: 5px 0 5px 10px;
              background-color: #468189a1;
              padding: 5px 10px;
              margin-bottom: 5px; }
          .slider ul li .info-img .slider-info-container .service-slider {
            color: #fff; }
            .slider ul li .info-img .slider-info-container .service-slider h3 {
              display: inline-block;
              margin: 5px 0px;
              background-color: rgba(0, 0, 0, 0.574);
              padding: 5px 2px;
              margin-left: 10px;
              padding: 5px 10px; }
        .slider ul li .info-img button {
          padding: 10px 10px;
          z-index: 100;
          background: #db2955;
          color: #fff;
          border: none;
          border-radius: 5px;
          font-size: 1em;
          font-weight: 800;
          cursor: pointer;
          margin-left: 10px; }
        .slider ul li .info-img img {
          width: 100vw;
          background-size: cover;
          height: 65vh;
          overflow: hidden; }
      .slider ul .info-img::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: #1b1b1b5f;
        backdrop-filter: blur(1px);
        margin-bottom: 3px; } }
@media screen and (min-width: 481px) and (max-width: 1024px) {
  .slider {
    width: 100%;
    margin: auto;
    overflow: hidden; }
    .slider ul {
      display: flex;
      padding: 0;
      width: 200%;
      overflow: hidden; }
      .slider ul li {
        list-style: none;
        width: 100%; }
        .slider ul li .info-img {
          position: relative;
          display: inline-block; }
          .slider ul li .info-img .slider-info-container {
            display: flex;
            gap: 15px;
            flex-direction: column;
            position: absolute;
            top: 100px;
            left: 40px;
            z-index: 50; }
            .slider ul li .info-img .slider-info-container .phrase-container {
              color: #fff;
              display: flex;
              flex-direction: column; }
              .slider ul li .info-img .slider-info-container .phrase-container h4 {
                padding: 5px 10px;
                background-color: #468189a1;
                padding-bottom: 5px;
                margin: 5px 0;
                width: fit-content;
                margin-left: 10px;
                font-size: 30px; }
              .slider ul li .info-img .slider-info-container .phrase-container h3 {
                margin: 5px 0;
                background-color: #468189a1;
                padding: 5px 10px;
                margin-bottom: 5px;
                margin-left: 10px;
                width: fit-content;
                font-size: 20px; }
            .slider ul li .info-img .slider-info-container .service-slider {
              color: #fff;
              display: flex;
              flex-direction: column; }
              .slider ul li .info-img .slider-info-container .service-slider h3 {
                width: fit-content;
                margin: 5px 0px;
                background-color: rgba(0, 0, 0, 0.574);
                padding: 5px 2px;
                margin-left: 10px;
                padding: 5px 10px; }
          .slider ul li .info-img h1 {
            position: absolute;
            top: 10px;
            background-color: #3d96b9c8;
            padding: 5px 10px;
            border-radius: 15px;
            z-index: 100;
            color: #fff; }
          .slider ul li .info-img button {
            padding: 10px 10px;
            z-index: 100;
            background: #db2955;
            color: #fff;
            border: none;
            border-radius: 5px;
            font-size: 1em;
            font-weight: 800;
            cursor: pointer;
            margin-left: 10px; }
          .slider ul li .info-img img {
            width: 100vw;
            height: 70vh;
            background-size: cover; }
        .slider ul li .info-img::after {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          background: #1b1b1b5f;
          backdrop-filter: blur(1px);
          margin-bottom: 4px; } }
@media screen and (min-width: 1024px) and (max-width: 1600px) {
  .slider {
    width: 100%;
    margin: auto;
    overflow: hidden; }
    .slider ul {
      display: flex;
      padding: 0;
      width: 200%;
      overflow: hidden; }
      .slider ul li {
        list-style: none;
        width: 100%; }
        .slider ul li .info-img {
          position: relative;
          display: inline-block; }
          .slider ul li .info-img .slider-info-container {
            display: flex;
            gap: 15px;
            flex-direction: column;
            position: absolute;
            top: 100px;
            left: 80px;
            z-index: 50; }
            .slider ul li .info-img .slider-info-container .phrase-container {
              color: #fff;
              display: flex;
              flex-direction: column; }
              .slider ul li .info-img .slider-info-container .phrase-container h4 {
                padding: 5px 10px;
                background-color: #468189a1;
                padding-bottom: 5px;
                margin: 5px 0;
                width: fit-content;
                margin-left: 10px;
                font-size: 30px; }
              .slider ul li .info-img .slider-info-container .phrase-container h3 {
                margin: 5px 0;
                background-color: #468189a1;
                padding: 5px 10px;
                margin-bottom: 5px;
                margin-left: 10px;
                width: fit-content;
                font-size: 20px; }
            .slider ul li .info-img .slider-info-container .service-slider {
              color: #fff;
              display: flex;
              flex-direction: column; }
              .slider ul li .info-img .slider-info-container .service-slider h3 {
                width: fit-content;
                margin: 5px 0px;
                background-color: rgba(0, 0, 0, 0.601);
                padding: 5px 2px;
                margin-left: 10px;
                padding: 5px 10px; }
          .slider ul li .info-img button {
            position: absolute;
            padding: 10px 20px;
            z-index: 100;
            background: #db2955;
            color: #fff;
            border: none;
            border-radius: 5px;
            top: 260px;
            left: 10px;
            font-size: 1.2em;
            font-weight: 800;
            cursor: pointer; }
          .slider ul li .info-img img {
            width: 100vw;
            background-size: cover;
            height: 70vh; }
        .slider ul li .info-img::after {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          background: #1b1b1b5f;
          backdrop-filter: blur(1px);
          margin-bottom: 4px; } }
@keyframes cambio {
  0% {
    margin-left: 0; }
  48% {
    margin-left: 0; }
  53% {
    margin-left: -100%; }
  100% {
    margin-left: -100%; } }

/*# sourceMappingURL=slider.css.map */
