.clients-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom:  80px;
    h2 {
        text-align: center;
        font-size: 2.5em;
        margin-bottom: 70px;
    }
    .companies-img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin: 0 auto;
        gap: 40px;
        .company {
            .minera-exar {
                img {
                    height: 60px;
                }
            }
            .minera-ultra {
                img {
                    height: 20px;
                }
            }
        }
    }
}