
@media screen and(min-width: 300px) and (max-width: 1280px) {
    .clients-container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 500px;
        width: 100%;
        background-image: url('../img/bg-clients.jpg');
        background-size: cover;
        color: #fff;
        z-index: 1;
        h2 {
            text-align: center;
            font-size: 2.5em;
            margin-bottom: 70px;
        }
        .companies-img {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            width: 80%;
            margin: 0 auto;
            gap: 40px;
            .company {
                .minera-exar {
                    img {
                        height: 60px;
                    }
                }
                .minera-ultra {
                    img {
                        height: 20px;
                    }
                }
            }
        }
    }
    .clients-container-inner::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.611);
        width: 100%;
        height: 500px;  
        z-index: -1;
    }
}

@media screen and(min-width: 1280px) and (max-width: 1600px) {
    .clients-container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 500px;
        width: 100%;
        background-image: url('../img/bg-clients.jpg');
        background-size: cover;
        color: #fff;
        z-index: 1;
        h2 {
            text-align: center;
            font-size: 2.5em;
            margin-bottom: 70px;
        }
        .companies-img {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            width: 80%;
            margin: 0 auto;
            gap: 40px;
            .company {
                .minera-exar {
                    img {
                        height: 60px;
                    }
                }
                .minera-ultra {
                    img {
                        height: 20px;
                    }
                }
            }
        }
    }
    .clients-container-inner::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.611);
        width: 100%;
        height: 500px;  
        z-index: -1;
    }
}