@import 'colours';

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    
    .contact-info {
        width: 100%;
        .contact-info-inner {
            padding: 20px 20px 25px;
            margin: 10px 0;
            background: $blue;
            color: #fff;
            h2 {
                font-size: 1.5em;
                margin: 15px 0;
            }      
            h5 {
                margin: 10px 0;
            }  
            p {
                margin: 30px 0;
            }
            .phone-numbers-container h4 {
                margin: 5px 0;
            }
            .email-container {
                h4 {
                    margin: 15px 0 5px;
                    font-size: 1em;
                }
                a {
                    color: #fff;
                }
            }
        }
    }
    form {
        margin: 10px auto;
        width: 85%;
        button {
            width: 150px;
            background: linear-gradient($blue, #275f75c8);
            border: 1px solid rgba(89, 89, 89, 0.711);
            color: #fff;
            font-size: 1.2em;
            font-weight: 800;
            padding: 5px 10px;
            border-radius: 10px;
        }
        button:hover {
            background: #3d96b9c8
        }
        label {
            display: flex;
            flex-direction: column;
            margin: 5px 0px;
            h5 {
                position: relative;
                top: 10px;
                margin-left: 10px;
                background-color: #fff;
                width: fit-content;
                border-radius: 10px;
                font-size: 0.85em;
                padding-left: 5px;
                padding-right: 5px;
                border: 1px solid $blue;
            }
            input {
                height: 40px;
                padding-left: 10px;
                outline: none;
                border-radius: 3px;
                border: 2px solid $blue;
            }
            textarea {
                padding-left: 10px;
                padding-top: 10px;
                border: 2px solid $blue;
            }
        }
    }
}