@import 'colours';

.contact-container {
    text-shadow: 0px 0px 2px #00000056;
}

@media screen and (min-width: 300px) and (max-width:480px) {
    .contact-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        width: 100%;
        
        .contact-info {
            width: 100%;
            margin-bottom: 10px;
            .contact-info-inner {
                padding: 20px 20px 25px;
                margin: 10px 0;
                background: $blue;
                color: #fff;
                h2 {
                    font-size: 2em;
                    margin: 15px 0;
                }      
                p {
                    margin: 30px 0;
                    font-size: 1.2em;
                    font-weight: 600;
                }
                .phone-numbers-container {
                    
                    h4 {
                        margin: 10px 0;
                        font-size: 1.2em;
                        letter-spacing: 1px;
                    }
                } 
                    .email-container {
                    margin-top: -20px ;
                    p {
                        display: inline-block;
                        font-size: 1.2em;
                    }
                    a {
                        font-size: 1.2em;
                        color: #fff;
                    }
                }
            }
        }
        form {
            display: flex;
            flex-direction: column;
            background: $blue;
            align-items: center;
            width: 100%;
            color: #fff;
            padding: 20px 0;
            margin-top: 10px;
            h2{
                margin-left: 10px;
            }
            label {
                margin: 5px 0;
            }
            input {
                height: 30px;
                padding-left: 5px;
                outline: none;
                border: 1px solid black;
                border-radius: 2px;
            }
            button {
                padding: 5px 15px;
            }
            .personal-info-form, .service-time-form, .service-destiny-form {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 95%;
                gap: 5px;
                margin: 5px 0;
                label {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 90%;
                    margin: 0px 3px;
                    input {
                        width: 100%;
                    }
                }
            }
            .select-form {
                width: 95%;
                select{
                    margin: 0 auto;
                    width: 100%;
                    outline: none;
                    height: 30px;
                    border: 1px solid black
                }
            }
            .message-form {
                width: 95%;
                display: flex;
                flex-direction: column;
                align-items: center;
                textarea {
                    width: 100%;
                    padding-left: 5px;
                    padding-top: 5px;
                    outline: none;
                    border-radius: 2px;
                }
            }
        }
    }
}

@media screen and (min-width: 480px) and (max-width:1024px) {
    .contact-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        width: 100%;
        
        .contact-info {
            width: 100%;
            .contact-info-inner {
                padding: 20px 20px 25px;
                margin: 10px 0;
                background: $blue;
                color: #fff;
                h2 {
                    font-size: 1.9em;
                    margin: 15px 0;
                }      
                p {
                    margin: 30px 0;
                    font-size: 1.2em;
                    font-weight: 600;
                }
                .phone-numbers-container h4 {
                    margin: 15px 0;
                }
                .email-container {
                    p {
                        display: inline-block;
                        margin: 5px 0 15px;
                        font-size: 1em;
                    }
                    a {
                        color: #fff;
                    }
                }
            }
            form {
                display: flex;
                flex-direction: column;
                background: $blue;
                align-items: center;
                width: 100%;
                color: #fff;
                padding: 20px 0;
                margin-top: 10px;
                h2{
                    margin-left: 10px;
                }
                label {
                    margin: 5px 0;
                }
                input {
                    height: 30px;
                    padding-left: 5px;
                    outline: none;
                    border: 1px solid black;
                    border-radius: 2px;
                }
                button {
                    padding: 5px 15px;
                }
                .personal-info-form, .service-time-form, .service-destiny-form {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 95%;
                    gap: 5px;
                    margin: 5px 0;
                    label {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 90%;
                        margin: 0px 3px;
                        input {
                            width: 100%;
                        }
                    }
                }
                .select-form {
                    width: 95%;
                    select{
                        margin: 0 auto;
                        width: 100%;
                        outline: none;
                        height: 30px;
                        border: 1px solid black
                    }
                }
                .message-form {
                    width: 95%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    textarea {
                        width: 100%;
                        padding-left: 5px;
                        padding-top: 5px;
                        outline: none;
                        border-radius: 2px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) and (max-width:1600px) {
    .contact-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        width: 100%;
        
        .contact-info {
            background: $blue;
            width: 100%;
            padding: 30px 0;
            .contact-info-inner {
                display: flex;
                gap: 80px;
                margin: 10px auto;
                color: #fff;
                width: 80%;
                h2 {
                    width: 100%;
                    font-size: 1.9em;
                    margin: 15px 0;
                }      
                p {
                    margin: 30px 0;
                    font-size: 1.2em;
                    font-weight: 600;
                }
                .phone-numbers-container {
                    margin-top: 65px;
                    h4 {
                        margin: 17px 0;
                    }
                } 
                .email-container {
                    p {
                        display: inline-block;
                        margin: 5px 0 15px;
                        font-size: 1em;
                    }
                    a {
                        color: #fff;
                    }
                }
            }
        }
        form {
            display: flex;
            flex-direction: column;
            background: $blue;
            align-items: center;
            width: 50%;
            color: #fff;
            padding: 20px 0;
            margin-top: 10px;
            h2{
                margin-left: 10px;
            }
            label {
                margin: 5px 0;
            }
            input {
                height: 30px;
                padding-left: 5px;
                outline: none;
                border: 1px solid black;
                border-radius: 2px;
            }
            button {
                padding: 5px 15px;
            }
            .personal-info-form, .service-time-form, .service-destiny-form {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 95%;
                gap: 5px;
                margin: 5px 0;
                label {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 90%;
                    margin: 0px 3px;
                    input {
                        width: 100%;
                    }
                }
            }
            .select-form {
                width: 95%;
                select{
                    margin: 0 auto;
                    width: 100%;
                    outline: none;
                    height: 30px;
                    border: 1px solid black
                }
            }
            .message-form {
                width: 95%;
                display: flex;
                flex-direction: column;
                align-items: center;
                textarea {
                    width: 100%;
                    padding-left: 5px;
                    padding-top: 5px;
                    outline: none;
                    border-radius: 2px;
                }
            }
        }
    }
}