@import 'colours';

.contact-container {
    text-shadow: 0px 0px 2px #00000056;
}

@media screen and (min-width: 300px) and (max-width:480px) {
    .contact-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        width: 100%;
        
        .contact-info {
            width: 100%;
            display: flex;
            flex-direction: column;
            background: $blue;
            color: #fff;
            h2 {
                font-size: 2.2em;
                margin: 15px 0 -10px;
                text-align: center;
            }      
            .contact-info-inner {
                padding: 0px 20px 0px;
                margin: 10px 0;
                p {
                    margin: 30px 0;
                    font-size: 1.2em;
                    font-weight: 600;
                }
                .phone-numbers-container {
                    
                    h4 {
                        margin: 10px 0;
                        font-size: 1.2em;
                        letter-spacing: 1px;
                    }
                } 
                    .email-container {
                    margin-top: -20px ;
                    p {
                        display: inline-block;
                        font-size: 1.2em;
                    }
                    a {
                        font-size: 1.2em;
                        color: #fff;
                    }
                }
            }
        }
        .form-container {
            display: block;
            background: $form-bg;
            color: #fff;
            height: 90vh;
            border-bottom: 2px black solid;
            
            .form-info {
                margin-top: 40px;
                text-align: center;
                .cotization-text {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                }
                .phone-img {
                    img {
                        height: 300px;
                    }
                }
            }
            form {
                display: flex;
                flex-direction: column;
                background: $blue;
                align-items: center;
                width: 100%;
                color: #fff;
                padding: 20px 0;
                margin-top: 10px;
                h2{
                    margin-left: 10px;
                }
                label {
                    margin: 5px 0;
                }
                input {
                    height: 30px;
                    padding-left: 5px;
                    outline: none;
                    border: 1px solid black;
                    border-radius: 2px;
                }
                button {
                    padding: 5px 15px;
                }
                .personal-info-form, .service-time-form, .service-destiny-form {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 95%;
                    gap: 5px;
                    margin: 5px 0;
                    label {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 90%;
                        margin: 0px 3px;
                        input {
                            width: 100%;
                        }
                    }
                }
                .select-form {
                    width: 95%;
                    select{
                        margin: 0 auto;
                        width: 100%;
                        outline: none;
                        height: 30px;
                        border: 1px solid black
                    }
                }
                .message-form {
                    width: 95%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    textarea {
                        width: 100%;
                        padding-left: 5px;
                        padding-top: 5px;
                        outline: none;
                        border-radius: 2px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 480px) and (max-width:1024px) {
    .contact-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        width: 100%;
        
        .contact-info {
            width: 100%;
            display: flex;
            flex-direction: column;
            background: $blue;
            color: #fff;
            h2 {
                font-size: 2.2em;
                margin: 15px 0 -5px;
                text-align: center;
            }      
            .contact-info-inner {
                padding: 0px 20px 25px;
                background: $blue;
                color: #fff;
                p {
                    margin: 30px 0;
                    font-size: 1.2em;
                    font-weight: 600;
                }
                .phone-numbers-container h4 {
                    margin: 15px 0;
                }
                .email-container {
                    p {
                        display: inline-block;
                        margin: 5px 0 15px;
                        font-size: 1em;
                    }
                    a {
                        color: #fff;
                    }
                }
            }
        }
        .form-container {
            display: block;
            align-items: center;
            background: $form-bg;
            color: #fff;
            height: 90vh;
            border-bottom: 2px black solid;
            
            .form-info {
                text-align: center;
                .cotization-text {
                    margin-top: 30px;
                }
                .phone-img {
                    img {
                        height: 450px;
                    }
                }
            }
            form {
                display: flex;
                flex-direction: column;
                background: $blue;
                align-items: center;
                width: 100%;
                color: #fff;
                padding: 20px 0;
                margin-top: 10px;
                h2{
                    margin-left: 10px;
                }
                label {
                    margin: 5px 0;
                }
                input {
                    height: 30px;
                    padding-left: 5px;
                    outline: none;
                    border: 1px solid black;
                    border-radius: 2px;
                }
                button {
                    padding: 5px 15px;
                }
                .personal-info-form, .service-time-form, .service-destiny-form {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 95%;
                    gap: 5px;
                    margin: 5px 0;
                    label {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 90%;
                        margin: 0px 3px;
                        input {
                            width: 100%;
                        }
                    }
                }
                .select-form {
                    width: 95%;
                    select{
                        margin: 0 auto;
                        width: 100%;
                        outline: none;
                        height: 30px;
                        border: 1px solid black
                    }
                }
                .message-form {
                    width: 95%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    textarea {
                        width: 100%;
                        padding-left: 5px;
                        padding-top: 5px;
                        outline: none;
                        border-radius: 2px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) and (max-width:1600px) {
    .contact-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        width: 100%;
        
        .contact-info {
            background: $blue;
            width: 100%;
            padding: 30px 0;
            color: #fff;
            h2 {
                width: 100%;
                font-size: 2.1em;
                margin: 15px 0;
                text-align: center;
            }      
            .contact-info-inner {
                display: flex;
                gap: 80px;
                margin: 10px auto;
                width: 80%;
                p {
                    margin: 30px 0;
                    font-size: 1.2em;
                    font-weight: 600;
                }
                .phone-numbers-container {
                    h4 {
                        margin: 17px 0;
                    }
                } 
                .email-container {
                    p {
                        display: inline-block;
                        margin: 5px 0 15px;
                        font-size: 1em;
                    }
                    a {
                        color: #fff;
                    }
                }
            }
        }
        .form-container {
            display: flex;
            justify-content: center;
            gap: 40px;
            align-items: center;
            background: $form-bg;
            color: #fff;
            height: 100vh;
            border-bottom: 2px black solid;
            
            .form-info {
                text-align: center;
                .phone-img {
                    img {
                        height: 450px;
                    }
                }
            }

            form {
                display: flex;
                flex-direction: column;
                background: $blue;
                align-items: center;
                width: 50%;
                color: #fff;
                padding: 20px 0;
                margin-top: 10px;
                max-height: 430px;
                h2{
                    margin-left: 10px;
                }
                label {
                    margin: 5px 0;
                }
                input {
                    height: 30px;
                    padding-left: 5px;
                    outline: none;
                    border: 1px solid black;
                    border-radius: 2px;
                }
                button {
                    padding: 5px 15px;
                }
                .personal-info-form, .service-time-form, .service-destiny-form {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 95%;
                    gap: 5px;
                    margin: 5px 0;
                    label {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 90%;
                        margin: 0px 3px;
                        input {
                            width: 100%;
                        }
                    }
                }
                .select-form {
                    width: 95%;
                    select{
                        margin: 0 auto;
                        width: 100%;
                        outline: none;
                        height: 30px;
                        border: 1px solid black
                    }
                }
                .message-form {
                    width: 95%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    textarea {
                        width: 100%;
                        padding-left: 5px;
                        padding-top: 5px;
                        outline: none;
                        border-radius: 2px;
                    }
                }
            }
        }
    }
}