@import 'colours';

.contact-container {
    text-shadow: 0px 0px 2px #00000056;
}

input[type="date"]::-webkit-calendar-picker-indicator, input[type="time"]::-webkit-calendar-picker-indicator{
    cursor: pointer;
    border-radius: 4px;
    margin-right: 2px;
    opacity: 0.9;
    filter: invert(0.9);
}

@media screen and (min-width: 300px) and (max-width:479px) {
    .contact-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        width: 100%;
        overflow: hidden;
        color: #fff;
        .contact-info {
            background: $blue;
            width: 100%;
            display: flex;
            flex-direction: column;
            h2 {
                font-size: 2.2em;
                margin: 15px 0 -10px;
                text-align: center;
            }      
            .contact-info-inner {
                padding: 0px 20px 0px;
                margin: 10px 0;
                p {
                    margin: 30px 0;
                    font-size: 1.2em;
                    font-weight: 600;
                }
                .contact-section {
                    h4 {
                        margin: 17px 0;
                        span {
                            font-family: sans-serif;
                        }
                        a {
                            color: #fff;
                            text-decoration: underline #fff;
                        }
                    }
                    .contact-image-container {
                        height: 550px;
                        img {
                            height: 450px; 
                        }
                    }
                    .email {
                        margin: 20px 0px;
                    }
                    .numbers-container {
                        display: flex;
                        gap: 45px;
                        height: auto;
                    }
                } 
            }
        }
        .form-container {
            display: block;
            background: $form-bg;
            color: #fff;
            padding: 20px 0 50px;
            .form-info {
                margin: 40px 0;
                text-align: center;
                .cotization-text {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                }
                .phone-img {
                    img {
                        height: 300px;
                    }
                }
            }
            form {
                display: flex;
                flex-direction: column;
                gap: 10px;
                background: $form-bg;
                align-items: center;
                width: 100%;
                color: #fff;
                margin-top: 10px;
                .complete-form-phrase {
                    width: 95%;
                    font-size: 1em;
                    margin: 10px 0 20px;
                }
                .submit-btn {
                    width: 96%;
                    margin: 20px 0 0;
                    background: $red;
                    padding: 11px 0;
                    color: #fff;
                    border: none;
                    cursor: pointer;
                    font-weight: 900;
                    font-size: 1.2em;
                    border-radius: 5px;
                }
                h2{
                    margin-left: 10px;
                }
                label {
                    margin: 5px 0;
                }
                input {
                    height: 30px;
                    padding-left: 5px;
                    outline: none;
                    border: none;
                    background: $form-bg-lighter;
                    color: #fff;
                    border-radius: 2px;
                }
                button {
                    padding: 5px 15px;
                }
                .personal-info-form, .service-time-form, .service-destiny-form, .select-passengers {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 95%;
                    gap: 5px;
                    margin: 5px 0;
                    label {
                        display: flex;
                        flex-direction: column;
                        width: 90%;
                        margin: 0px 3px;
                        h5 {
                            text-align: start;
                            font-size: 0.9em;
                            margin-bottom: 5px;
                        }
                        input {
                            width: 100%;
                            border-bottom: 4px solid $blue-transparent;
                            transition: all ease 0.3s;
                        }
                        input:focus {
                            border-bottom: 4px solid $blue;
                        }
                    }
                }
                .select-form {
                    width: 100%;
                    select{
                        margin: 0 auto;
                        width: 100%;
                        outline: none;
                        height: 33px;
                        border: none;
                        border-bottom: 4px solid $blue-transparent;
                        background: $form-bg-lighter;
                        color: #fff;
                    }
                }
                .message-form {
                    width: 95%;
                    display: flex;
                    flex-direction: column;
                    h5 {
                        text-align: start;
                        font-size: 0.9em;
                        margin-bottom: 5px;
                    }
                    textarea {
                        width: 100%;
                        padding-left: 5px;
                        padding-top: 5px;
                        outline: none;
                        border-radius: 2px;
                        background: $form-bg-lighter;
                        color: #fff;
                        border: none;
                        border-bottom: 4px solid $blue-transparent;
                        transition: all ease 0.3s;
                    }
                    textarea:focus {
                        border-bottom: 4px solid $blue;
                    }
                }
            } 
        }
    }
}

@media screen and (min-width: 480px) and (max-width:1023px) {
    .contact-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        width: 100%;
        overflow: hidden;
        .contact-info {
            background: $blue;
            color: #fff;
            width: 100%;
            display: flex;
            flex-direction: column;
            h2 {
                font-size: 2.2em;
                margin: 15px 0 -5px;
                text-align: center;
            }      
            .contact-info-inner {
                padding: 0px 20px 25px;
                background: $blue;
                color: #fff;
                margin: 0 auto;
                .contact-section {
                    h4 {
                        margin: 17px 0;
                        span {
                            font-family: sans-serif;
                        }
                        a {
                            color: #fff;
                            text-decoration: underline #fff;
                        }
                    }
                    .contact-image-container {
                        height: 550px;
                        img {
                            height: 450px; 
                        }
                    }
                    .email {
                        margin: 20px 0px;
                    }
                    .numbers-container {
                        display: flex;
                        gap: 45px;
                        height: auto;
                    }
                } 
            }
        }
        .form-container {
            display: block;
            align-items: center;
            background: $form-bg;
            color: #fff;
            height: 90vh;
            
            .form-info {
                text-align: center;
                .cotization-text {
                    margin-top: 30px;
                }
                .phone-img {
                    img {
                        height: 450px;
                    }
                }
            }
            form {
                display: flex;
                flex-direction: column;
                background: $form-bg;
                align-items: center;
                width: 100%;
                color: #fff;
                margin-top: 10px;
                .submit-btn {
                    width: 96%;
                    margin: 20px 0;
                    background: $red;
                    color: #fff;
                    border: none;
                    cursor: pointer;
                    font-weight: 800;
                    font-size: 1.2em;
                    border-radius: 5px;
                }
                h2{
                    margin-left: 10px;
                }
                label {
                    margin: 5px 0;
                }
                input {
                    height: 30px;
                    padding-left: 5px;
                    outline: none;
                    border: none;
                    background: $form-bg-lighter;
                    border-radius: 2px;
                    color: #fff;
                }
                button {
                    padding: 5px 15px;
                }
                .personal-info-form, .service-time-form, .service-destiny-form, .select-passengers {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 95%;
                    gap: 5px;
                    margin: 5px 0;
                    label {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 90%;
                        margin: 0px 3px;
                        input {
                            width: 100%;
                        }
                    }
                }
                .select-form {
                    width: 95%;
                    select{
                        margin: 0 auto;
                        width: 100%;
                        outline: none;
                        height: 30px;
                        border: none;
                        background: $form-bg-lighter;
                        color: #fff;
                    }
                }
                .message-form {
                    width: 95%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    textarea {
                        width: 100%;
                        padding-left: 5px;
                        padding-top: 5px;
                        outline: none;
                        border-radius: 2px;
                        border: none;
                        background: $form-bg-lighter;
                        color: #fff;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) and (max-width:1700px) {
    .contact-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        width: 100%;
        
        .contact-info {
            background: $blue;
            width: 100%;
            padding: 30px 0;
            color: #fff;
            h2 {
                width: 100%;
                font-size: 2.1em;
                margin: 15px 0;
                text-align: center;
            }      
            .contact-info-inner {
                display: flex;
                flex-direction: row-reverse;
                justify-content: center;
                align-items: center;
                gap: 80px;
                margin: 10px auto;
                width: 100%;
                p {
                    margin: 30px 0;
                    font-size: 1.2em;
                    font-weight: 600;
                }
                .contact-section {
                    h4 {
                        margin: 17px 0;
                        span {
                            font-family: sans-serif;
                        }
                        a {
                            color: #fff;
                            text-decoration: underline #fff;
                        }
                    }
                    .contact-image-container {
                        height: 550px;
                        img {
                            height: 450px; 
                        }
                    }
                    .email {
                        margin: 20px 0px;
                    }
                    .numbers-container {
                        display: flex;
                        gap: 45px;
                        height: auto;
                    }
                } 
            }
        }
        .form-container {
            display: flex;
            justify-content: center;
            gap: 40px;
            align-items: center;
            background: $form-bg;
            color: #fff;
            height: 100vh;
            overflow: hidden;
            .form-info {
                text-align: center;
                .phone-img {
                    img {
                        height: 450px;
                    }
                }
            }

            form {
                display: flex;
                flex-direction: column;
                gap: 15px;
                background: $form-bg;
                color: #fff;
                align-items: center;
                width: 50%;
                color: black;
                padding: 0 0 20px;
                margin-top: 10px;
                max-height: 430px;
                border-radius: 10px;
                text-align: start;
                .complete-form-phrase {
                    margin-left: 15px;
                    margin-bottom: 10px;
                    color: #fff;
                }
                .submit-btn {
                    width: 96%;
                    margin: 20px 0;
                    background: $red;
                    color: #fff;
                    border: none;
                    cursor: pointer;
                    font-weight: 800;
                    font-size: 1.2em;
                    border-radius: 5px;
                }
                h2{
                    margin-left: 10px;
                }
                label {
                    margin: 15  px 0;
                    color: #fff;
                    h5 {
                        text-align: start;
                        margin-bottom: 5px;
                        font-size: 0.9em;
                    }
                }
                input {
                    height: 30px;
                    padding-left: 5px;
                    outline: none;
                    border: none;
                    // border: 1px solid black;
                    border-radius: 2px;
                    transition: all ease 0.3s;
                    box-sizing: border-box;
                    color: #fff;
                    background: $form-bg-lighter;
                    border-bottom: 4px solid $blue-transparent;
                }
                input:focus {
                    border: none;
                    border-bottom: 4px solid $blue;
                }
                button {
                    padding: 5px 0;
                }
                .personal-info-form, .service-time-form, .service-destiny-form, .select-passengers {
                    // display: flex;
                    // align-items: center;
                    // justify-content: center;
                    // width: 95%;
                    // gap: 5px;
                    // margin: 5px 0;
                    width: 100%;
                    display: grid;
                    grid-template-columns: 49% 2% 49%;
                    place-items: center;
                    label {
                        display: flex;
                        flex-direction: column;
                        width: 90%;
                        input {
                            width: 100%;
                        }
                    }
                }
                .select-form {
                    width: 95%;
                    margin: 5px 0;
                    select{
                        margin: 0 auto;
                        width: 100%;
                        outline: none;
                        height: 30px;
                        background: $form-bg-lighter;
                        color: #fff;
                        border: none;
                    }
                }
                // .obra-social-select {
                //     display: none;
                // }
                .message-form {
                    width: 95%;
                    display: flex;
                    flex-direction: column;
                    h5 {
                        text-align: start;
                        margin-bottom: 5px;
                        font-size: 0.9em;
                    }
                    textarea {
                        width: 100%;
                        padding-left: 5px;
                        padding-top: 5px;
                        outline: none;
                        border-radius: 2px;
                        background: $form-bg-lighter;
                        color: #fff;
                        border: none;
                        border-bottom: 4px solid $blue-transparent;
                        transition: all ease 0.3s;
                    }
                    textarea:focus {
                        border-bottom: 4px solid $blue;    
                    }
                }
            }
        }
    }
}