@import 'colours';

@media screen and (min-width: 300px) and (max-width: 479px) {

    footer {
        height: auto;
        width: 100%;
        background: $blue;
        padding-top: 30px;
        .page-sections-footer {
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            padding: 20px;
            gap: 10px;
            a {
                color: #fff;
                text-decoration: none;
                font-size: 1em;
            }
        }
        h3 {
            color: #fff;
            text-align: center;
            cursor: default;
            padding: 10px 0;
            font-size: 0.8em;
        }
    }
}

@media screen and (min-width: 480px) and (max-width: 1279px) {
    footer {
        width: 100%;
        background: $blue;
        .page-sections-footer {
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            padding: 20px;
            a {
                color: #fff;
                text-decoration: none;
            }
        }
        h3 {
            color: #fff;
            text-align: center;
            cursor: default;
            font-size: 0.8em;
        }
    }
}

@media screen and (min-width: 1280px) and (max-width: 1700px) {
    footer {
        height: 120px;
        width: 100%;
        background: $blue;
        .page-sections-footer {
            display: flex;
            justify-content: space-around;
            padding: 20px;
            a {
                color: #fff;
                text-decoration: none;
            }
        }
        h3 {
            color: #fff;
            text-align: center;
            cursor: default;
            font-size: 0.8em;
        }
    }
}
