@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Righteous&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;

}

#opener {
    display: none;
}

.section-nav {
    display: none;
    position: absolute;
    left: -100%;
    overflow: hidden;
} 

nav {
    border-bottom: 1px solid #9a9a9a;
}

@media screen and (min-width: 300px) and (max-width:500px) {
    nav ul {
        display: flex;
        list-style: none;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        li {
            margin: 25px;
            text-align: end;
            a {
                color: black;
                text-decoration: none;
            }
            h3 {
                font-family: 'Raleway', sans-serif;
                cursor: pointer;
            }
        }
        .logo {
            li img {
                height: 80px;
                margin-left: 20px;
                margin-top: 5px;
            }
        }
        .menu-btn label img{
            margin-right: 10px;
            height: 90px;
        }
 

        #opener:checked ~ .section-nav {
            position: absolute;
            left: 0;
            top: 0px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            background-color: rgb(241, 241, 241);
            z-index: 150;
            transition: all ease .3s;
        } 

        .section-nav-inner {
            background-color: rgb(216, 216, 216);
            width: 60%;

        }
        .close-menu label {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                margin: 5px 10px;
                img {
                    height: 60px;
                }
        }
    }
}
