@import 'colours';

.obras-sociales-container {
    width: 100%;
    background: $blue;
    color: #fff;
    h2 {
        text-align: center;
    }
}

@media screen and (min-width: 300px) and (max-width:480px) {
    .obras-sociales-container {
        padding: 40px 0;
        h2 {
            font-size: 1.8em;
        }
        .obras-sociales-names {
            margin: 20px auto;
            width: 90%;
        }
    }
}

@media screen and (min-width: 480px) and (max-width:1200px) {
    .obras-sociales-container {
        padding: 40px 0;
        h2 {
            font-size: 1.8em;
        }
        .obras-sociales-names {
            margin: 20px auto;
            width: 90%;
        }
    }
}

@media screen and (min-width: 1200px) and (max-width:1600px) {
    .obras-sociales-container {
        padding: 40px 0;
        h2 {
            font-size: 1.8em;
        }
        .obras-sociales-names {
            margin: 20px auto;
            width: 90%;
            display: flex;
            flex-wrap: wrap;
            gap: 50px;
            justify-content: space-around;    
            .obras-sociales-1 h3 , .obras-sociales-2 h3 {
                margin: 10px 0;
            }
        }
    }
}