@media screen and (min-width: 300px) and (max-width: 480px) {
    .qualities-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 10px;
        .qualities-img-cotainer {
            display: flex;
            justify-content: center;
            margin-top: 40px;
            .citroen {
                display: flex;
                justify-content: center;
                width: 90%;
                object-fit: cover;
            }
        }
        .qualities-description {
            text-align: center;
            width: 90%;
        }

        .service-qualifications {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 25px;
            text-align: center;
            margin-bottom: 50px;
            .qualification {
                width: 95%;
                img {
                    height: 80px;
                }
                h3 {
                    font-size: 1.1em;
                }
            }
        }
    }
}

@media screen and (min-width: 480px) and (max-width: 1280px) {
    .qualities-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 10px;
        .qualities-img-cotainer {
            margin-top: 40px;
            .citroen {
                display: flex;
                justify-content: center;
                width: 100%;
                object-fit: cover;
            }
        }
        .qualities-description {
            text-align: center;
            width: 90%;
        }

        .service-qualifications {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 25px;
            text-align: center;
            margin-bottom: 50px;
            .qualification {
                width: 95%;
                img {
                    height: 80px;
                }
                h3 {
                    font-size: 1.1em;
                }
            }
        }
    }
}

@media screen and (min-width: 1280px) and (max-width: 1600px) {
    .qualities-container {
        display: flex;
        align-items: center;
        width: 100%;
        margin-top: 10px;
        .qualities-img-cotainer {
            margin-top: 40px;
            .citroen {
                display: flex;
                justify-content: center;
                width: 100%;
                object-fit: cover;
                margin-left: 50px;
            }
        }
        .qualities-description {
            text-align: center;
            width: 90%;
        }

        .service-qualifications {
            width: 80%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 25px;
            text-align: center;
            margin-bottom: 50px;
            .qualification {
                width: 40%;
                img {
                    height: 80px;
                }
                h3 {
                    font-size: 1.1em;
                }
            }
        }
    }
}