@import 'colours';

.services-container {
    width: 100%;
    margin-bottom: 200px;
    margin-top: 50px;
    height: 250px;
    h2 {
        margin: 0 10px 30px;
    }
    .services-slider {
        display: flex;
        justify-content: center;
        // .tns-slide-active {

        // }
        .service {
            box-sizing: border-box;
            border: 1px solid black;
            border-radius: 10px;
            height: 300px;
            margin: 10px;
            background: $blue;
            color: #fff;
            hr {
                margin: 10px 30px;
                background: #fff;
            }
            .service-text {
                width: 70%;
                margin: 0 auto;
                h3 {
                    font-size: 1em;
                    margin-top: 15px;
                }
            }
            .service-img {
                display: flex;
                justify-content: center;
                padding: 10px;
                .img-container {
                    border-radius: 50%;
                    padding: 10px;
                    background: #fff;
                }
            }
        }
    }
    // .tns-nav {
    //     display: flex;
    //     gap: 15px;
    //     justify-content: flex-end;
    //     margin: 15px 20px 15px 0;
    //     button {
    //         height: 15px;
    //         width: 15px;
    //         border-radius: 50%;
    //         border: 1px solid black;
    //     }
    //     .tns-nav-active {
    //         background-color: #3d96b9c8;
    //         transition: all ease 0.4s;
    //     }
    // }
    .tns-controls{
        display: flex;
        gap: 10px;
        justify-content: center;
        button {
            height: 40px;
            width: 40px;
            border-radius: 50%;
            border: none;
            color: #fff;
            background-color: $blue;
            font-size: 20px;
            font-weight: 800;
        }
    } 
    .tns-slide-active {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}