@import 'colours';

hr {
    margin: 10px 30px;
    border: 0;
    border-top: 1px solid  #fff;
    height: 1px;
}

.tns-controls{
    display: flex;
    gap: 10px;
    justify-content: center;
    button {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: none;
        color: #fff;
        font-size: 20px;
        font-weight: 800;
        background-color: $blue;
        transition: all ease 0.3s;
    }
    button:hover {
        background-color: #1f556bc8;
    }

} 

@media screen and (min-width: 300px) and (max-width:480px) {
    .services-container {
        width: 100%;
        padding: 60px 0;
        h2 {
            margin: 0 10px 30px;
            color: #6d6d6d;
        }
        .services-slider {
            display: flex;
            justify-content: center;
            // .tns-slide-active {
    
            // }
            .service {
                box-sizing: border-box;
                box-shadow: 0px 0px 10px #0000007c;
                border-radius: 10px;
                height: 320px;
                margin: 10px;
                background: $blue;
                color: #fff;
                text-shadow: 0px 0px 2px #00000056;

                .service-text {
                    width: 80%;
                    margin: 0 auto;
                    h3 {
                        text-align: center;
                        font-size: 1.3em;
                        margin: 15px 0px;
                    }
                    h4 {
                        font-size: 1em;
                    }
                }
                .service-img {
                    display: flex;
                    justify-content: center;
                    padding: 10px;
                    .img-container {
                        border-radius: 50%;
                        padding: 10px;
                        background: #fff;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 480px) and (max-width:1024px) {
    .services-container {
        width: 100%;
        padding: 80px 0;
        h2 {
            margin: 0 10px 30px;
            color: #6d6d6d;
        }
        .services-slider {
            display: flex;
            justify-content: center;
            // .tns-slide-active {
    
            // }
            .service {
                box-sizing: border-box;
                box-shadow: 0px 0px 10px #0000007c;
                text-shadow: 0px 0px 2px #00000056;
                border-radius: 10px;
                height: 300px;
                margin: 10px;
                background: $blue;
                color: #fff;

                .service-text {
                    width: 70%;
                    margin: 0 auto;
                    h3 {
                        font-size: 1.4em;
                        margin: 15px 0px;
                    }
                    h4 {
                        font-size: 1em;
                    }
                }
                .service-img {
                    display: flex;
                    justify-content: center;
                    padding: 10px;
                    .img-container {
                        border-radius: 50%;
                        padding: 10px;
                        background: #fff;
                    }
                }
            }
        }
    }
    
}

@media screen and (min-width: 1024px) and (max-width:1600px) {
    .services-container {
        width: 100%;
        padding: 80px 0;
        h2 {
            margin: 0 20px 30px;
            color: #6d6d6d;
            font-size: 2.2em;
        }
        .services-slider {
            display: flex;
            justify-content: center;
            // .tns-slide-active {
    
            // }
            .service {
                box-sizing: border-box;
                box-shadow: 0px 0px 10px #0000007c;
                text-shadow: 0px 0px 2px #00000056;
                border-radius: 10px;
                height: 350px;
                margin: 10px;
                background: $blue;
                color: #fff;

                .service-text {
                    width: 70%;
                    margin: 0 auto;
                    h3 {
                        font-size: 1.5em;
                        margin: 15px 0px;
                    }
                    h4 {
                        font-size: 1em;
                    }
                }
                .service-img {
                    display: flex;
                    justify-content: center;
                    padding: 10px;
                    .img-container {
                        border-radius: 50%;
                        padding: 10px;
                        background: #fff;
                    }
                }
            }
        }
    }
}