.services-container {
    width: 100%;
    margin-bottom: 200px;
    margin-top: 50px;
    height: 250px;
    h2 {
        margin: 0 10px 20px;
    }
    .services-slider {
        display: flex;
        justify-content: center;
        // .tns-slide-active {

        // }
        .service {
            box-sizing: border-box;
            border: 1px solid black;
            border-radius: 10px;
            height: 300px;
            margin: 10px;
            hr {
                margin: 10px 30px;
            }
            .service-text {
                width: 80%;
                margin: 0 auto;
                h3 {
                    font-size: 1em;
                    margin-top: 15px;
                }
            }
            .service-img {
                display: flex;
                justify-content: center;
                padding: 10px;
                .img-container {
                    border: 1px solid black;  
                    border-radius: 50%;
                    padding: 10px;
                }
            }
        }
    }
    .tns-nav {
        display: flex;
        gap: 15px;
        justify-content: center;
        margin: 15px 0px;
        button {
            height: 15px;
            width: 15px;
            border-radius: 50%;
            border: 1px solid black;
        }
        .tns-nav-active {
            background-color: #3d96b9c8;
        }
    }
    .tns-controls{
        display: flex;
        gap: 10px;
        justify-content: center;
        button {
            height: 20px;
            width: 20px;
            border-radius: 50%;
            border: 1px solid black;
        }
    } 
    .tns-slide-active {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}