.slider {
    width: 100%;
    margin: auto;
    overflow: hidden;
    ul {
        display: flex;
        padding: 0;
        width: 200%;
        animation: cambio 6s infinite alternate;
        li {
            list-style: none;
            width: 100%;
            .info-img {
                position: relative;
                display: inline-block;
                h1 {
                    position: absolute;
                    top: 10px;
                    background-color: #3d96b9c8;
                    padding: 10px;
                    border-radius: 15px;
                    z-index: 100;
                    color: #fff;
                }
                button {
                    position: absolute;
                    padding: 10px;
                    z-index: 100;
                    background: linear-gradient(#22b022d0,#166016bd);
                    color: #fff;
                    border: 1px solid rgb(55, 178, 41);
                    border-radius: 5px;
                    bottom: 10px;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 15px;
                    font-weight: 600;
                    letter-spacing: 2px;
                }
                img {
                    margin-top: -40px;
                    z-index: 50;
                    width: 100%;
                    background-size: cover;
                    height: 300px;
                }
            }

        }
    }
}
@media screen and (min-width: 300px) and (max-width:500px) {

}

@keyframes cambio {
    0% {margin-left: 0;}
    48% {margin-left: 0;}

    53% {margin-left: -100%;}
    100% {margin-left: -100%;}
}