@import 'colours';


@media screen and (min-width: 300px) and (max-width:480px) {
    .slider {
        width: 100%;
        margin: auto;
        overflow: hidden;
        ul {
            display: flex;
            padding: 0;
            width: 100%;
            li .info-img {
                list-style: none;
                width: 100%;
                position: relative;
                .slider-info-container {
                    display: flex;
                    gap: 15px;
                    flex-direction: column; 
                    position: absolute;
                    top: 30px;
                    .phrase-container {
                        color: #fff;
                        h4 {
                            display: inline-block;
                            padding: 5px 10px;
                            background-color: $blue-transparent;
                            padding-bottom: 5px;
                            margin: 5px 0 0px 10px;
                            font-size: 1.3em;
                        }
                        h3 {
                            display: inline-block;
                            margin: 5px 0 5px 10px;
                            background-color: $blue-transparent;
                            padding: 5px 10px;
                            margin-bottom: 5px;
                        }
                    }
                    .service-slider {
                        color: #fff;
                        h3 {
                            display: inline-block;
                            margin: 5px 0px;
                            background-color: rgba(0, 0, 0, 0.574);
                            padding: 5px 2px;
                            margin-left: 10px;
                            padding: 5px 10px;
                        }
                    }
                }

                button {
                    position: absolute;
                    padding: 10px;
                    z-index: 100;
                    background: linear-gradient(#22b022d0,#166016bd);
                    color: #fff;
                    border: 1px solid rgb(55, 178, 41);
                    border-radius: 5px;
                    bottom: 10px;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 15px;
                    font-weight: 600;
                    letter-spacing: 2px;
                }
                img {
                    width: 100vw;
                    background-size: cover;
                    height: 50vh;
                    overflow: hidden;
                }
            }
            .info-img::before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                // background: #4b4a4a10;
                // backdrop-filter: blur(3px);
                margin-bottom: 3px;
            }
        }
    }
}

@media screen and (min-width: 481px) and (max-width:1024px) {
    .slider {
        width: 100%;
        margin: auto;
        overflow: hidden;
        ul {
            display: flex;
            padding: 0;
            width: 200%;
            // animation: cambio 6s infinite alternate;
            overflow: hidden;
            li {
                list-style: none;
                width: 100%;
                .info-img {
                    position: relative;
                    display: inline-block;
                    .slider-info-container {
                        display: flex;
                        gap: 15px;
                        flex-direction: column; 
                        position: absolute;
                        top: 100px;
                        left: 40px;
                        z-index: 50;
                        .phrase-container {
                            color: #fff;
                            display: flex;
                            flex-direction: column;
                            h4 {
                                padding: 5px 10px;
                                background-color: $blue-transparent;
                                padding-bottom: 5px;
                                margin: 5px 0;
                                width: fit-content;
                                margin-left: 10px;
                                font-size: 30px;
                            }
                            h3 {
                                margin: 5px 0;
                                background-color: $blue-transparent;
                                padding: 5px 10px;
                                margin-bottom: 5px;
                                margin-left: 10px;
                                width: fit-content;
                                font-size: 20px;
                            }
                        }
                        .service-slider {
                            color: #fff;
                            display: flex;
                            flex-direction: column;
                            h3 {
                                width: fit-content;
                                margin: 5px 0px;
                                background-color: rgba(0, 0, 0, 0.574);
                                padding: 5px 2px;
                                margin-left: 10px;
                                padding: 5px 10px;
                            }
                        }
                    }
                    h1 {
                        position: absolute;
                        top: 10px;
                        background-color: #3d96b9c8;
                        padding: 5px 10px;
                        border-radius: 15px;
                        z-index: 100;
                        color: #fff;
                    }
                    button {
                        position: absolute;
                        padding: 10px;
                        z-index: 100;
                        background: linear-gradient(#22b022d0,#166016bd);
                        color: #fff;
                        border: 1px solid rgb(55, 178, 41);
                        border-radius: 5px;
                        bottom: 10px;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-size: 15px;
                        font-weight: 600;
                        letter-spacing: 2px;
                    }
                    img {
                        width: 100vw;
                        background-size: cover;
                    }
                }
                .info-img::after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    // background: #4b4a4a10;
                    // backdrop-filter: blur(3px);
                    margin-bottom: 4px;
                }
            }
        }
    }
    
}

@media screen and (min-width: 1024px) and (max-width:1600px) {
    .slider {
        width: 100%;
        margin: auto;
        overflow: hidden;
        ul {
            display: flex;
            padding: 0;
            width: 200%;
            // animation: cambio 6s infinite alternate;
            overflow: hidden;
            li {
                list-style: none;
                width: 100%;
                .info-img {
                    position: relative;
                    display: inline-block;
                    .slider-info-container {
                        display: flex;
                        gap: 15px;
                        flex-direction: column;
                        position: absolute;
                        top: 100px;
                        left: 80px;
                        z-index: 50;
                        .phrase-container {
                            color: #fff;
                            display: flex;
                            flex-direction: column;
                            h4 {
                                padding: 5px 10px;
                                background-color: $blue-transparent;
                                padding-bottom: 5px;
                                margin: 5px 0;
                                width: fit-content;
                                margin-left: 10px;
                                font-size: 30px;
                            }
                            h3 {
                                margin: 5px 0;
                                background-color: $blue-transparent;
                                padding: 5px 10px;
                                margin-bottom: 5px;
                                margin-left: 10px;
                                width: fit-content;
                                font-size: 20px;
                            }
                        }
                        .service-slider {
                            color: #fff;
                            display: flex;
                            flex-direction: column;
                            h3 {
                                width: fit-content;
                                margin: 5px 0px;
                                background-color: rgba(0, 0, 0, 0.574);
                                padding: 5px 2px;
                                margin-left: 10px;
                                padding: 5px 10px;
                            }
                        }
                    }
                    button {
                        position: absolute;
                        padding: 10px;
                        z-index: 100;
                        background: linear-gradient(#22b022d0,#166016bd);
                        color: #fff;
                        border: 1px solid rgb(55, 178, 41);
                        border-radius: 5px;
                        bottom: 10px;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-size: 15px;
                        font-weight: 600;
                        letter-spacing: 2px;
                    }
                    img {
                        width: 100vw;
                        background-size: cover;
                        height: 70vh;
                    }
                }
                .info-img::after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    // background: #4b4a4a5f;
                    // backdrop-filter: blur(1px);
                    margin-bottom: 4px;
                }
            }
        }
    }

}

@keyframes cambio {
    0% {margin-left: 0;}
    48% {margin-left: 0;}

    53% {margin-left: -100%;}
    100% {margin-left: -100%;}
}