.avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 24px;
  min-height: 24px;
  width: 24px;
  height: 24px;
  overflow: hidden;
  background-color: $light-green;
  color: $dark-blue;
  border-radius: 40px;
  font-weight: 600;
  &.avatar-lg {
    min-width: 32px;
    min-height: 32px;
    width: 32px;
    height: 32px;
    font-weight: 700;
    font-size: 16px;
  }
  &.avatar-xl {
    min-width: 46px;
    min-height: 46px;
    width: 46px;
    height: 46px;
    font-weight: 700;
    font-size: 24px;
  }
}
