$blue: #4e9da7;
$navbar-bg: #e3deda;
$form-bg: #031926;
$form-bg-lighter: #062638;
$blue-transparent: #468189a1;
$blue-darker: #3a8e99;
$red: #db2955;
$light-green: #BEE5DB;
$dark-blue: #1D3461;
$yellow-stars: #fdb61d;

$grey: #4d4d4d;